services:
  - type: web
    name: rtb-backend
    env: node
    region: oregon
    plan: free
    rootDir: rtb-backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
